<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Sebagai {{role}}</title>
</head>
<body>


    
    {% block content %}
        
    {% endblock content %}
    
    <br> <br> <br> <br> 
    {% if user.is_authenticated %}
    <p><strong><a href="{% url 'dashboard' %}">Home</a></strong></p>
    <p><strong><a href="{% url 'logout' %}">Logout</a></strong></p>
    <p> Sebagai: <strong>{{ role }}</strong></p>
    {% endif %}

</body>
</html>