{% extends "base.html" %}




{% block content %}
<h2>List Tiket Baru Dari Reporting</h2>
<table border="1">
  <thead>
    <tr>
      <th>Detal Tiket</th>
      <th>Status</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    {% for ticket in tiket_proses %}
    <tr>
      <td><h3><a href="{% url 'view_ticket_detail' ticket.id %}">{{ ticket.title }}</a></h3></td>
      <td>{{ ticket.status }}</td>
      <td><a href="{% url 'selsaikan_tiket' ticket.id %}">Selsaikan <br>
      <a href="{% url 'kirim_tiket_developer' ticket.id %}">Kirimkan Ke Developer</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="2">Tidak ada tiket yang tersedia.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>
<a href="{% url 'dashboard' %}"><button type="button">Kembali Ke dashboard</button></a>
{% endblock content %}