{% extends "base.html" %}

{% block content %}

  
<h2>Detail Laporan</h2>
<table>
  <tr>
    <th>Judul Laporan:</th>
    <td>{{ ticket.title }}</td>
  </tr>
  <tr>
    <th>Deskripsi:</th>
    <td>{{ ticket.description }}</td>
  </tr>
  <tr>
    <th>Prioritas:</th>
    <td>{{ ticket.priority }}</td>
  </tr>
  <tr>
  <tr>
    <th>Time:</th>
    <td>{{ ticket.created_at }}</td>
  </tr>
  <tr>
    <th>Status:</th>
    <td>{{ ticket.status }}</td>
  </tr>
  <tr>
    <th>File</th>
    <td>
    {% if ticket.file %}
        <a href="{{ ticket.file.url }}" target="_blank">Download File</a>
    {% else %}
        Tidak ada file yang diunggah
    {% endif %}
  </td>
  </tr>
</table>
<br>
<a href="{% url 'dashboard' %}">
  <button type="button">kembali Ke Dashboard</button>
</a>

{% endblock content %}

