{% extends "base.html" %}

{% block content %}
<h2>List Status Laporan</h2>
<table border="1">
  <thead>
    <tr>
      <th>Judul Tiket</th>
      <th>Status</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    {% for ticket in tickets %}
    <tr>
      <td><h3><a href="{% url 'view_ticket_detail' ticket.id %}">{{ ticket.title }}</a></h3></td>
      <td>{{ ticket.status }}</td>
      <td><a href="{% url 'edit_ticket' ticket.id %}">Edit</a></td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="2">Tidak ada tiket yang tersedia.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
